UPDATE "Player" SET "riddle_title" = 'The Scoop King', "riddle_question" = 'I am the absolute Boss of scooping terrifyingly fast bowlers right over the keeper''s head. I spent years painting the town pink with my centuries, but now I''m taking my English royalty to the biggest cricket stadium in the world. Who am I?' WHERE "rank" = 20;
